@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rosarivo:ital@0;1&display=swap');

$background: #E3E869;
$accent: #AB904E;

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-height: 100vh;
}

body {
  background-image: url('./assets/bg-items/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  color: #8f8f8f;
  font-family: "Rosarivo", cursive;
  font-weight: 500;
  overflow: hidden;
}

h2, p {
  text-align: right;
}

.main-content{
  position: fixed;
  top: 10vh;
  right: 0;
  width: 50vw;
  height: 90vh;
  z-index: 100;
  margin-right: 3rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow-y: auto;
  word-break: break-word;
  white-space: normal;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  animation: slide-fade-in 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.pride-flag {
  position: absolute;
  top: 5rem;
  left: -5rem;
  width: 20rem;
  height: 100px;
  transform: rotate(-45deg);
  transform-origin: top left;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.pride-flag div {
  flex: 1;
  width: 100%;
  z-index: 1000;
}

.pride-flag .red { background-color: #e40303; }
.pride-flag .orange { background-color: #ff8c00; }
.pride-flag .yellow { background-color: #ffed00; }
.pride-flag .green { background-color: #008026; }
.pride-flag .blue { background-color: #004dff; }
.pride-flag .purple { background-color: #750787; }

// background elements

.background-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right:0;
  overflow: hidden;
  z-index: 0;
}


