.title, .subtitle {
    position: static;
    top: unset;
    right: unset;
}

    .subtitle {
        line-height: 2.5rem;
        text-align: right !important;
        margin-top: 2rem;
    }

.slide-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slide-section--intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}